    .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  /* -webkit-appearance: none;  */
  /* margin: 0;  */
  background-color: #9e9c9c !important;
  color: #9e9c9c;
}
   

.headings{
    text-align: center;
    margin-top: 50px;

}
img{
    width: 200px;
    height: 150px;
}
h1,h2{
    /* font-size: 40px; */
    margin: 20px 0 10px 0;
    color: black;
}
p{
    font-size: 18px;
    color: black;
    margin-bottom: 30px;
}
.buttons{
   display: flex;
   width: 350px;
   gap: 20px;
   flex-direction: column;
}
input{
    padding: 10px;
    border-radius: 5px;
    background-color: #d4d1d1ff;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 300px;
    /* margin-bottom: 10px; */
    color: rgb(41, 41, 41);
}
input:focus{
    outline: none;
    border: 1px solid #9e9c9c;
}

@media (max-width: 600px) {
    h1{
        font-size: 30px;
    }
    p{
        font-size: 16px;
    }
}

