:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f9fafb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  background-color: #eeeeee;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.personPage {
  width: 400px;
  height: 600px;
}
.personPage h2 {
  text-align: center;
}
.input-wrapper {
  width: 500px;
  position: relative;
  margin: 20px 0;
}
.input-wrapper input{
  width: 247px;
 padding-left :150px;
}


.input-wrapper button {
  position: absolute;
  display: flex;
  margin-top: -28px;
  margin-left: 10px;
  font-size: 15px;
  border: none;
  width: auto;
  background-color: transparent;
  cursor: pointer;
  color: rgb(57, 57, 57);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
